<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Inclure le script de Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Inclure le lien vers votre fichier CSS si nécessaire -->
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">


    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>
<body>
<div id="container" class="mx-auto p-4">
    <header>
        <div class="bg-purple-700 text-white flex justify-between">
            <div class="text-5xl font-bold">
                <a href="{{ path('app_home') }}">Ludothèque</a>
            </div>
            <div>
                {% if app.user %}
                    <a href="{{ path('logout') }}" class="btn btn-secondary">Se déconnecter</a>
                {% else %}
                    <a href="{{ path('login') }}" class="btn btn-primary">Se connecter</a>
                {% endif %}
            </div>
        </div>
    </header>
    {% block body %}{% endblock %}
</div>


</body>
</html>
